
  <div data-hook="existing_cards" class="payment-sources-existing-card" id="existing_cards">

    <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header" ><%= Spree.t(:my_payment_methods) %></h3>

      <div class="row">
        <% @credit_cards = @user.credit_cards %> 
   
          <%= render partial: 'spree/payment/list' %>
      </div>

    <div id="delete-address-popup" class="delete-address-popup-dropdown hide-on-esc">
      <%= render 'spree/shared/delete_address_popup' %>
    </div>
  </div>
